<div class="all">
  <div class="interaction">
    <app-main (userQuestionEvent)="receiveUserQuestionEvent($event)"></app-main>
  </div>
  <div class="main" id="computer-image-container">
    <app-computer [computerCalculationRequest]="computerAnswer"></app-computer>
  </div>
</div>
<footer id="main-footer">
  Background Image from <a href="https://iconscout.com/photos/dark" target="_blank">Dark Sky With Stars Photo</a> by <a href="https://iconscout.com/contributors/felix-mittermeier-22932" target="_blank">Felix Mittermeier</a>
</footer>

<router-outlet></router-outlet>